---
layout: default
---
<div class="book-details">
  <h3>{{ page.title }}</h3>
  <p><strong>Author:</strong> {{ page.author }}</p>
  <p><strong>ISBN:</strong> {{ page.isbn }}</p>
  <p><strong>PVP:</strong> {{ page.pvp }}</p>
  <p><strong>Year:</strong> {{ page.year }}</p>
</div>
