---
layout: default
---
<div class="row mt-3">
  <div class="col-sm mt-3 mt-md-0">
    {%
      include figure.liquid loading="eager" path=page.img
      class="img-fluid w-50 rounded z-depth-1 mx-auto d-block"
    %}
  </div>
  <div class="col-sm mt-3 mt-md-0">
    <div class="book-details">
      <h2>{{ page.title }}</h2>
      <p><strong>Autor:</strong> {{ page.author }}</p>
      <p><strong>ISBN:</strong> {{ page.isbn }}</p>
      <p><strong>PVP:</strong> {{ page.pvp }}</p>
      <p><strong>Any:</strong> {{ page.year }}</p>
      <hr>
      <article>{{ page.description_long }}</article>
    </div>
  </div>
</div>
